{% extends 'boaapp/base_generic.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include your custom JavaScript -->
    <script src="{% static 'js/index.js' %}"></script>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block content %}
    <div class="container custom-container">
        <h2>Welcome to the Boa Application</h2>
        <span>To preface, I will show you some things that demonstrate my skills as a Platform Administrator.</span>
    </div>
    <div class="container custom-container">
        <h2>Skills and Experience</h2>
        <ul>
            <li>OpenShift or Kubernetes experience</li>
            <li>Python or Hive experience</li>
            <li>SQL query optimization skills</li>
            <li>Experience with Starburst</li>
            <!-- Add more details or examples as needed -->
        </ul>
    </div>
    <div class="container custom-container">
        <h2>Login</h2>
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
